.list-app {
  list-style-type: none;
  background-color: #ffffff;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 45%;
  max-width: 129px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .list-app {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 45%;
    max-width: 192px;
    padding-top: 23px;
  }
}

.app-list {
  height: 70px;
  width: 70px;
}

@media screen and (min-width: 768px) {
  .app-list {
    height: 103px;
    width: 103px;
  }
}

.description-app {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .description-app {
    font-size: 24px;
  }
}
